/* trying to solve the non loading font in android chrome*/
#fakediv{
    visibility: hidden;
    font-family: font-family: 'MedievalSharp', cursive;
}

.header {
    background-color: #0008BF;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    height: 163px;
    padding: 5px;
    z-index: -1;
}
.header p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #f2f2f2;
}
/* TODO add breakpoint and responsive fonts*/
.header h1{
    font-size: 45px;
    color: #F4F7F9;
    font-family: 'MedievalSharp', cursive;
    text-shadow: 9px 9px 6px rgba(0, 0, 0, 0.70);
}
@media screen and (max-width: 600px) {
    .header h1{
        font-size: 30px;
        color: #F4F7F9;
        font-family: 'MedievalSharp', cursive;
        text-shadow: 9px 9px 6px rgba(0, 0, 0, 0.70);
    }
    
}
/* Navigation bar*/
/* sfondo e overflow della barra di navigazione*/
.topnavbar{
    width: 94%;
    margin-top: -30px;
    background-color: #9D9898;
    overflow: hidden;
    border: 3px solid black;
    border-radius: 5px;
}
/* Stile dei link nella barra*/
.topnavbar a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    display: flex;
    color: #f2f2f2;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
}
/* Interazioni con input */
.topnavbar a:hover{
    background-color: #ddd;
    color: black;
}
/*hide hamburger icon when the screen is large enough */
.topnavbar .icon{  
    display: none;
}
.topnavbar a.active{
    background-color: #b2c3e2;
    color: black;
}
@media screen and (max-width: 600px){
    .topnavbar a:not(:first-child){display: none;}
    .topnavbar a.icon{
        float: right;
        display: block;
    }
}
@media screen and (max-width:600px){
    .topnavbar.responsive {position: relative;}
    .topnavbar.responsive .icon{
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnavbar.responsive a{
        float: none;
        display: block;
        text-align: left;
    }
}

#main_img{
    margin-top: 25px;
    width: 95%;
    height: 493px;
    object-fit: cover;
    flex-shrink: 3;
}

p{
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link-button{
    background-color: #9D9898;
    border: 3px solid black;
    width: 95%;
    margin: 15px;
    color: #f2f2f2;
    border-radius: 5px;
}
.link-button a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    display: flex;
    color: #f2f2f2;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
}
.link-button:hover{
    background-color: #ddd;
    color: black;
}
.link-button img{
    display: block;
    margin-left: auto;
    border-left: 1px solid black;
    width: 200px;
    height: 100px;
    object-fit: cover;
    overflow-y: visible;
}
